:root {
    --theme-light-background: #eff2f3;
    --theme-light-color: #2a2a2a;

    --theme-dark-background: #2a2a2a;
    --theme-dark-color: #eef5f6;

    --theme-light-separator: inset 0 -1px 0 0 rgba(0, 0, 0, .25);
    --theme-dark-separator: inset 0 -1px 0 0 rgba(255, 255, 255, .25);

    --theme-light-button-background: #2a2a2a;
    --theme-light-button-color: #ffffff;

    --theme-dark-button-background: #f4f6f7;
    --theme-dark-button-color: #2a2a2a;

    --theme-light-side-background: #fafcfc;
    --theme-light-side-color: #000000;

    --theme-dark-side-background: #222222;
    --theme-dark-side-color: #ffffff;

    --theme-light-numpad-button-background: #dce1e3;
    --theme-light-numpad-button-color: #2a2a2a;
    --theme-light-numpad-button-hover: #cacfd1;
    --theme-light-numpad-button-active: #fafcfc;

    --theme-dark-numpad-button-background: #464b53;
    --theme-dark-numpad-button-color: #eef5f6;
    --theme-dark-numpad-button-hover: #585e69;
    --theme-dark-numpad-button-active: #222222;

    --theme-status-finalized: #179d45;

    --theme-light-qr-background: #eff2f3;
    --theme-dark-qr-background: #eef5f6;
}
