.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    :global(html.fullscreen) .header {
        margin-top: 128px;
    }
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
