.button {
    height: 48px;
    padding: 16px;
    border: 0;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background: none;
    cursor: pointer;
}
