@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

* {
    font-family: Inter, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    font-weight: 300;
}

html.light {
    background: #EFF2F3;
    color: #2A2A2A;
}

html.dark {
    background: #2A2A2A;
    color: #EEF5F6;
}

button {
    background: none;
    border: none;
}

html.light button {
    color: #2A2A2A;
}

html.dark button {
    color: #EEF5F6;
}

#app {
    width: 100vw;
    height: 100vh;
}

html body .wallet-adapter-modal {
    overflow-y: initial;
}

html body .wallet-adapter-modal-container {
    justify-content: flex-end;
    align-items: flex-start;
    margin: 24px;
}
