CLUSTER_ENDPOINT=https://api.devnet.solana.com
#CLUSTER_ENDPOINT=https://solana-mainnet.phantom.tech
RATE_LIMIT=10
RATE_LIMIT_INTERVAL=60
NEXT_PUBLIC_CURRENCY=agEUR
NEXT_PUBLIC_IS_MERCHANT_POS=false
NEXT_PUBLIC_SHOW_SYMBOL=true
NEXT_PUBLIC_IS_DEV=false
NEXT_PUBLIC_USE_SSL=true
NEXT_PUBLIC_MERCHANT_IMAGE_PATH=https://flodef.github.io/FiMS/Img/Merchant/
