.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    margin: 24px;
}

.button {
    background: none;
    border: 0;
    font-size: 14px;
    cursor: pointer;
    font-weight: 500;
}

.arrow {
    margin-right: 8px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    margin: 24px;
    text-align: center;
}
