.root {
    min-height: 100vh;
    display: flex;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.body {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.side {
    display: flex;
    flex-direction: column;
}

.header {
    flex: 1;
}

.footer {
    margin: 24px;
    text-align: center;
}

@media (max-width: 767px) {
    .root {
        flex-direction: column;
    }
}

@media (min-width: 768px) {
    .side {
        width: 420px;
    }

    :global(html.dark) .side {
        background: #000000;
        color: #ffffff;
    }

    :global(html.light) .side {
        background: #ffffff;
        color: #000000;
    }

    .header {
        margin: 48px;
    }
}
