.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    margin: 24px;
    text-align: center;
}
