.root {
}

.text {
    text-align: center;
    margin-bottom: 16px;
}

.value {
    text-align: center;
    height: 72px;
    margin-bottom: 8px;
    font-size: 48px;
    font-weight: 700;
}

.buttons {
}

.row {
    display: flex;
    justify-content: center;
}

.button {
    width: 80px;
    height: 80px;
    margin: 8px;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    font-size: 32px;
    font-weight: 700;
    line-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

:global(html.light) .button {
    background: #dce1e3;
    color: #2a2a2a;
}

:global(html.dark) .button {
    background: #464b53;
    color: #eef5f6;
}
