.button {
    height: 40px;
    padding: 16px;
    margin: 16px;
    border: 0;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
    background: none;
    cursor: pointer;
    visibility: visible;
}

.button[disabled] {
    cursor: default;
    opacity: 0.5;
    visibility: hidden;
}
