.logo {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 24px;
    margin: 24px;
}
