.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main,
.mainHidden {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainHidden {
    visibility: hidden;
}

@media (min-width: 768px) {
    .header {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    :global(html.fullscreen) .header {
        top: 64px;
    }
}
